.wotlk {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: wotlkAnim 1s ease 0s 1 normal forwards;
}

.wotlk img {
    width: 300px;
}

@keyframes wotlkAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.text {
    text-align: center;
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    user-select: none;
    /*transform: rotateX(27deg) rotateY(32deg) rotateZ(0deg);*/
}

.text pre {
    color: #bf690d;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

.text h1 {
    justify-content: center;
    width: 30vh;
    color: #bf690d;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

.button {background-image: linear-gradient(to left, #fcf8f8 0%, #028d9a 31%, #fcf8f8 100%)}

.button {
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    /*border-radius: 10px;*/
    font-family: LifeCraft;
    font-size: 3vh;
    width: 30vh;
    height: 7vh;
    cursor: pointer;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.icon {
    font-size: 3vh;
    font-family: LifeCraft;
    text-shadow: 2px 2px 2px #000;
    color: #bf690d;
}

@font-face {
    font-family: "LifeCraft";
    src: url("/src/assets/LifeCraft_Font.woff") format("woff");
}