.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;

    &:hover {
        border: 10px solid #000000;
        border-radius: 50px;
        box-shadow:0 0 30px rgba(13, 208, 236, 0.5);
    }
    &.active {
        border: 5px solid #EFEFBEFF;
        border-radius: 50px;
        box-shadow:0 0 30px rgb(239, 239, 190);
    }
}


