.imagesBlock {
    margin: 0px 0 0px 20vh;
    display: flex;
}

.imagesCol {
    margin-left: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.bigImg {
    position: relative;
    border: 2px solid #fff;
    max-width: 35vh;
    background: url(../../../assets/imageRandomize/background.jpg);
}

.img {
    margin-left: -4vh;
    max-width: 45vh;
    max-height: 62vh;
}

.factionLogo {
    position: absolute;
    bottom: -33px;
    left: 36%;
    height: 10vh;
}

.raceLogo {
    width: 20vh;
}

.classLogo {
    width: 20vh;
}

.imgLogo{
    height: 12vh;
    width: 10vh;
}
