.imagesBlock {
    margin: 0px 0 0px 20vh;
    display: flex;
}

.imagesCol {
    margin-left: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.bigImg {
    position: relative;
    border: 3px solid #fff;
    width: 35vh;
    background: url(../../../assets/imageRandomize/background.jpg);
}

.bigImg.alliance {
    border: 3px solid rgb(39, 39, 199);
}

.bigImg.horde {
    border: 3px solid rgb(189, 11, 11);
}
 .bigImg::before {
    content: "";
    display: block;
    padding-top: 155.333333%
 }

.wrapperImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.factionLogo {
    position: absolute;
    bottom: -9%;
    left: 36%;
    height: 10vh;
}

.raceLogo {
    width: 20vh;
}

.classLogo {
    width: 20vh;
}

.imgLogo{
    height: 12vh;
    width: 10vh;
}
