.imagesBlock {
    display: flex;
}

.imagesCol {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 45vh;
    max-height: 62vh;
    margin-left: 20vh;
}

.factionLogo {
    height: 12vh;
    width: 10vh;
}

.classLogo {
    width: 20vh;
}

.imgLogo{
    height: 12vh;
    width: 10vh;
}
