.bc {
    display: grid;
    grid-area: n;
    background-image: url("/src/assets/bc.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    width: 100%;
    height: 200%;
    position: relative;
}

.buttonPosition {
    position: fixed;
    top: 50em;
    left: 45em;
}

.button {background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%)}

.button {
    margin: 10px;
    /*padding: 15px 45px;*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: LifeCraft;
    font-size: 30px;
    text-align: center;
    width: 7em;
    height: 2em;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.text {
    text-align: center;
    margin: auto;
    background-color: rgba(23, 105, 16, 0.5);
    width: 15em;
    border-radius: 10px;
}

.text pre {
    color: #940909;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

.text h1 {
    color: #940909;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

@font-face {
    font-family: "LifeCraft";
    src: url("/src/assets/LifeCraft_Font.woff") format("woff");
}