.bc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    animation: bcAnim 1s ease 0s 1 normal forwards;
}

@keyframes bcAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.button {background-image: linear-gradient(to left, #fcf8f8 0%, #028d9a 31%, #fcf8f8 100%)}

.button {
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    /*border-radius: 10px;*/
    font-family: LifeCraft;
    font-size: 3vh;
    width: 20%;
    height: 7vh;
    cursor: pointer;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.text {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgba(23, 105, 16, 0.5);
    width: 30vh;
    height: 30vh;
    border-radius: 10px;
    user-select: none;
    border: 10px outset #940909;
}

.text pre {
    color: #940909;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

.text h1 {
    width: 30vh;
    color: #940909;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

@font-face {
    font-family: "LifeCraft";
    src: url("/src/assets/LifeCraft_Font.woff") format("woff");
}