.classic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url("/src/assets/classic.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    animation: classicAnim 1s ease 0s 1 normal forwards;
}

@keyframes classicAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.buttonPosition {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
}

.button {background-image: linear-gradient(to left, #fcf8f8 0%, #028d9a 31%, #fcf8f8 100%)}

.button {
    margin: 10px;
    /*padding: 15px 45px;*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    /*border-radius: 10px;*/
    font-family: LifeCraft;
    font-size: 3vh;
    width: 20vh;
    height: 7vh;
    cursor: pointer;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.text {
    text-align: center;
    margin: auto;
    background-color: rgba(240, 204, 77, 0.5);
    width: 20%;
    border-radius: 10px;
    user-select: none;
    /*transform: translate(0px, 100px);*/
    border: 10px outset #8304ba;
}

.text pre {
    color: #8304ba;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

.text h1 {
    color: #8304ba;
    text-shadow: 2px 2px 2px #000;
    font-family: LifeCraft;
    letter-spacing: 3px;
}

@font-face {
    font-family: "LifeCraft";
    src: url("/src/assets/LifeCraft_Font.woff") format("woff");
}