:root {
    /* ============================ */
    /*            Theme            */
    /* ============================ */
    --theme-light-font-color: #000;
    --theme-dark-font-color: #fff ;

    --theme-default-font-color: var(--theme-light-font-color);

    --theme-light-background: linear-gradient(to left bottom, #ffffff, #f0eefe, #dedffe, #c9d0ff, #b0c2ff, #9db6ff, #88aaff, #709eff, #618fff, #5580ff, #4e6fff, #4d5dfd);
    --theme-dark-background: linear-gradient(to right top, #841bed, #6f17c8, #5a13a4, #470f82, #340a61, #2d0b53, #260b45, #200b38, #221037, #241537, #261a36, #281e35);

    --theme-default-background: var(--theme-light-background);
}
