.blogPage {
    background: url('../../../assets/backgroundS.jpg');
    min-height: 90vh;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.BlogMainTitle {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    color: #fff;
}



.blogItemWrapper {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    margin: 20px;
}

.blogItemTopRow {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.blogItemTitle {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    text-align: left;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
}

.blogItemText{
    margin: 20px 0;
}