.header {
    grid-area: n;
    background-color: #3b6bee;
    border-radius: 10px;
    background-image: url("../../assets/azf.gif");
    background-size: 50%;
    background-repeat: repeat-y;
    height: 100%;
    width: 50%;
}
