.nav {
    background: white;
    height: 100vh;
}

.item{
    line-height: 3;
    text-align: center;
}

.item a{
    color: black;
    text-shadow: 10px 14px 10px #000000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.item a.active {
    color: white;
}

.item a:hover {
    color: gold;
    background: #3b6bee;
    border-radius: 5px;
    padding: 2px;
    height: auto;
}




