.nav {
    grid-area: h;
    background-color: brown;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    float: right;
    text-indent: 20px
}

.item a.active {
    color: gold;
}