.nav {
    grid-area: n;
    background: linear-gradient(to right, #3b6bee 0%, #574e55 50%, #dc2424 100%) no-repeat center center fixed;
    height: 90vh;
    border-radius: 10px;
    border: 1px white solid;
    text-align: center;
}

.item a {
    color: white;
    text-decoration: none;
    font-family: "Arial", Georgia, Serif;
    text-shadow: 10px 14px 10px #000000;
    line-height: 3;
    user-select: none;
}

.item a.active {
    color: gold;
}
