.nav {
    grid-area: h;
    background-image: linear-gradient(to right, #3b6bee 0%, #574e55 50%, #dc2424 100%);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px white solid;
}

.item a {
    color: white;
    text-decoration: none;
    float: left;
    text-indent: 20px;
    font-family: "Arial", Georgia, Serif;
    text-shadow: 10px 14px 10px #000000;
}

.item a.active {
    color: gold;
}
