.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.item {
    
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    object-fit: cover;
    object-position: center center;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 10px rgb(0,0,0 , 0.8));
    }
    &.active {
        filter: drop-shadow(0 0 10px rgb(255, 153, 0));
    }
}


