.app-wrapper {
    /*margin: 0 auto;*/
    display: flex;
}

.app-wrapper-content {
    flex: 1;
    /*overflow: auto;*/
    background: url("/src/assets/or.jpg") center;
    /*background-size: cover;*/
    background-size: contain;
}

.container__sidebar {
    width: 10%;
}

.container__header {
    width: 10%;
}