.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n a";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
    width: 70%;
}

.app-wrapper-content {
    grid-area: a;
}
