.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #484848;
    height: 100vh;
    color: white;
    overflow: auto;
}

.historyItem {
    min-width: 150px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
}