.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 70vh;
    color: white;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 20px;
    overflow: auto;
}

.historyItem {
    width: 25vh;
    text-align: center;
    border: 1px solid black;
    opacity: 0.7;
}

